.carrossel{
  width: 100vw;
}

.degrade {
  pointer-events: none;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.titulo {
  text-shadow: 0 1px 3px rgb(0 0 0 / 80%);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.chamada {
  text-shadow: 0 1px 3px rgb(0 0 0 / 80%);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.carousel-images {
  width: 100%;
  max-height: 70vh;
}

@include media-breakpoint-down(md) {
  .titulo{
    font-size: 12px;
  }

  .carousel-images {
    width: 100%;
    height: 40vh;
  }
}