.dark-mode {
  background-color: #343A40;
  color: white;
}

.dark-mode{
	.noticia .titulo-noticia, .titulo-noticia-listada, .titulo-noticia-mobile, .chamada-noticia-listada, .chamada-noticia-mobile{
		color: white;
	}

	header, nav, footer{
		background-color: black;
	}

	.portlet-content{
		background-color: #343A40;
	}
}
