header{
    background: #94112D;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    
    .header-content{
        width: 96vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}

#heading{
    width: 20%;
    margin-right: 0px;
}

.search-bar{
    .input-group button{
        border: none;
        background-color: #fff ;
    }

    input{
    height: 36px;
    border-radius: 5px;
    border: none;
    }

    h2{
        display: none;
    }
}


@include media-breakpoint-down(sm) {
    .search-bar{
        display: none;
    }
}