.menu-principal{
    background: #94112D;
    width: 100vw;
    padding: 10px 0px 10px 0px;

    button {
       border: none;
    }

    ul{
        list-style: none;
    }

    li:hover{
        cursor: pointer;
    }

    a{
        color: #000;
    }
}

