.menu-principal{
    width: 100vw;
    padding: 10px 0px 10px 0px;
    margin-bottom: 20px;

    button {
       border: none;
    }

    ul{
        list-style: none;
    }

    li:hover{
        cursor: pointer;
    }

    a{
        color: #000;
    }
}

