/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */

@import 'liferay-font-awesome/scss/font-awesome';
@import 'liferay-font-awesome/scss/glyphicons';
@import './reset';

// components

@import './components/header';
@import './components/footer';
@import './general.scss';
@import './components/navigation';

// templates

@import './templates/noticia'

/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */