html:not(#__):not(#___) .overlay-content .open>.cadmin.dropdown-menu {
    display: block;
    position: static;
}

.portlet-borderless .portlet-title-text {
    display: none;
}

.hide-accessible {
    display: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;

    .container-fluid {
        padding: 0px;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .content {
        flex-grow: 1;
    }
}
