html:not(#__):not(#___) .overlay-content .open>.cadmin.dropdown-menu {
    display: block;
    position: static;
}

.portlet-borderless .portlet-title-text {
    display: none;
}

.hide-accessible {
    display: none;
}

.site-name{
    color: white;
    font-weight: bold;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
    
    
    h2{
        font-weight: bold;
    }

    .corpo {
        padding: 0px;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .content {
        flex-grow: 1;
    }


	a:hover, a:focus {
		text-decoration: unset;
	}

    
    .portlet-borderless .portlet-content {
        padding: 0px;
    }
}
