.noticia {
    width: 100vw;

    .container{
        width: 80%;
        display: flex;
        flex-direction: column;

        .titulo-noticia{
            font-weight: bold;
            font-size: 44px;
            color: #000;
        }

        .imagem-noticia{
            width: 50%;
            margin-bottom: 20px;
        }
    }    
}